html { 
	background: url(images/splash.PNG) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

* {
	font-size:17px;
}

#imageContainer {
	position:relative;
}

#splashLogo {
	position:absolute;
	top:0;
	left:calc(50% - 188px)
}

#splashTitleBar {
	position:absolute;
	top:-1px;
	height:61px;
	width:100%;
}

div#splashDialogTab1, div#splashDialogTab2, div#splashDialogTab3, div#splashDialogTab4 {
	padding:10px;
	border-top:0px;
}
div p:nth-child(1){
	margin-top:10px;
}

#splashDialogTab4 table {
	table-layout:fixed;
	width:100%;
}
#splashDialogTab4 * {
	font-size:15px;
}
#splashDialogTab4 img {
	height:15px;
}
.uc-padding {
	height:15px;
}
#splashDialogTab4 .uc-hint {
	font-size:10px;
}

.uc-required {
	color:red;
}